<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>	
        <rewrite>
          <rules>
           <rule name="rule 1D" stopProcessing="true">
                <match url="^(.*)/$"  />
                <action type="Rewrite" url="//api/v1/{R:1}"  />
            </rule>
            <rule name="rule 2D" stopProcessing="true">
                <match url="^"  />
                <action type="Rewrite" url="/api/v1/index.php"  />
            </rule>
            <rule name="rule 3D">
                <match url=".*"  />
                <action type="Rewrite" url="/-"  />
            </rule>
          </rules>
        </rewrite>
        
    </system.webServer>
</configuration> 